@using AgriEnergy_ST10204001_POE_Part_2.Models
@model User

<div class="transparent-card">
	<h1>Add Farmer Email</h1>
	<hr />
	<form method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="small">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="small">
			<label asp-for="ContactNumber">Contact Number</label>
			<input asp-for="ContactNumber" class="form-control" aria-required="true" />
			<span asp-validation-for="ContactNumber" class="text-danger"></span>
		</div>
		<div class="small">
			<label asp-for="FirstName">First Name</label>
			<input asp-for="FirstName" class="form-control" aria-required="true" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div class="small">
			<label asp-for="Surname">Last Name</label>
			<input asp-for="Surname" class="form-control" aria-required="true" />
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>

		<div class="small">
			<label asp-for="FarmerDetail.Address">Address</label>
			<input asp-for="FarmerDetail.Address" class="form-control" aria-required="true" />
			<span asp-validation-for="FarmerDetail.Address" class="text-danger"></span>
		</div>

		<div class="small">
			<label asp-for="FarmerDetail.FarmType">Farm Type</label>
			<input asp-for="FarmerDetail.FarmType" class="form-control" aria-required="true" />
			<span asp-validation-for="FarmerDetail.FarmType" class="text-danger"></span>
		</div>
		<div class="small">
			<label>Password: TemporaryPassword@1</label>
		</div>
		<button id="registerSubmit" type="submit" class="btn btn-outline-light">Submit</button>
	</form>
</div>



