@model AgriEnergy_ST10204001_POE_Part_2.Models.Product

@{
	ViewData["Title"] = "Add a new product";
}

<div class="transparent-card">
	<h1>Add a Product</h1>
	<hr/>
<form method="post" action="Add">
	<div class="mb-3">
	<label for="" class="form-label">Product Name</label>
	<input type="text" class="form-control" asp-for="ProductName"/>
	</div>

	<div class="mb-3">
		<label for="categorySelect" class="form-label">Category</label>
		<select class="form-control" id="categorySelect" name="Category">
			<option value="">Select a category</option>
			<option value="Renewable Energy Sources">Renewable Energy Sources</option>
			<option value="Energy-efficient Equipment">Energy-efficient Equipment</option>
			<option value="Organic Farming Inputs">Organic Farming Inputs</option>
			<option value="Sustainable Crop Cultivation">Sustainable Crop Cultivation</option>
			<option value="Waste Reduction and Recycling">Waste Reduction and Recycling</option>
		</select>
	</div>


	<div class="mb-3">
		<label for="" class="form-label">Production Date</label>
		<input type="date" class="form-control" asp-for="ProductionDate" />
	</div>

	<button type="submit" class="btn btn-outline-light"> Add </button>
</form>
</div>