<body>
    <div class="container mt-5">
		<center><h1 class="mb-4">Project Collaboration and Funding Opportunities</h1></center>

		<div class="row">
            <div class="col-md-6">
                <div class="card card-container card-content">
                    <h3 class="mt-0">Joint Project: Implementing Solar-Powered Irrigation Systems</h3>
                    <p class="text-muted">Description: This project aims to revolutionize agricultural practices by integrating renewable energy solutions into traditional farming methods.</p>
                    <button class="btn btn-light">Learn More</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-container card-content">
                    <h3 class="mt-0">Funding Opportunity: Renewable Energy Research Grant</h3>
                    <p class="text-muted">Description: The Renewable Energy Research Grant offers funding to support innovative research projects focused on advancing renewable energy technologies.</p>
                    <button class="btn btn-light">Apply Now</button>
                </div>
            </div>
        </div>
    </div>
</body>

