@{
    ViewData["Title"] = "Home Page";
}

<div class="card-container">
	@if (User.IsInRole("Farmer"))
	{
		<div class="card">
			<img class="card-img-top" src="../tractor.jpeg" alt="image of a tractor">
			<div class="card-content">
				<h3 class="card-title">Add Products</h3>
			<p class="card-text">Add new products with essential details to your profile.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Product" asp-action="Add">Add</a></center>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../wind turbine.jpeg" alt="image of wind turbines">
			<div class="card-content">
				<h3 class="card-title">View Products</h3>
				<p class="card-text">View a list of all your products.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Product" asp-action="Index">View</a></center>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../farmers talking.jpeg" alt="image of a farmers talking">
			<div class="card-content">
				<h3 class="card-title">Farming Hub</h3>
				<p class="card-text">Seek advice, share experiences, and collaborate on sustainable farming initiatives.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Hub">Explore</a></center>	
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../marketplace.jpeg" alt="image of a tractor and wind turbines">
			<div class="card-content">
				<h3 class="card-title">Market Place</h3>
				<p class="card-text">Green energy market place.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="MarketPlace">View Marketplace</a></center>		
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../resources.jpeg" alt="image of a tractor and wind turbines">
			<div class="card-content">
				<h3 class="card-title">Educational Resources</h3>
				<p class="card-text"> Educational Resource for integrating green energy technologies</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Product" asp-action="Resources">View Resources</a></center>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../collab.jpeg" alt="image of a tractor and wind turbines">
			<div class="card-content">
				<h3 class="card-title">Collaboration and Funding Opportunities</h3>
				<p class="card-text">Collaboration and Funding Opportunities for farmers</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Product" asp-action="Collab">View Collaboration and Funding Opportunities</a></center>
			</div>
		</div>
	}
	
	@if (User.IsInRole("Employee"))
	{
		<div class="card">
			<img class="card-img-top" src="../farmer.jpeg" alt="image of a farmer">
			<div class="card-content">
				<h3 class="card-title">Add Farmer</h3>
				<p class="card-text">Add new farmer profiles with essential details.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Employee" asp-action="Add">Add</a></center>
			</div>
		</div>


		<div class="card">
			<img class="card-img-top" src="../wind turbine.jpeg" alt="image of wind turbines">
			<div class="card-content">
				<h3 class="card-title">Product List</h3>
				<p class="card-text">View and filter through a comprehensive list of products from any farmer.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Employee" asp-action="Index">View</a></center>			
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../farmers talking.jpeg" alt="image of a farmers talking">
			<div class="card-content">
				<h3 class="card-title">Farming Hub</h3>
				<p class="card-text">Seek advice, share experiences, and collaborate on sustainable farming initiatives.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Hub">Explore</a></center>
			</div>
		</div>

		<div class="card">
			<img class="card-img-top" src="../marketplace.jpeg" alt="image of a tractor and wind turbines">
			<div class="card-content">
				<h3 class="card-title">Market Place</h3>
				<p class="card-text">Green energy market place.</p>
				<center><a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="MarketPlace">View Marketplace</a></center>				
			</div>
		</div>
	}
</div>
	

