<body>
    <div class="container mt-5">
        <h1 class="mb-4">Welcome to the Marketplace</h1>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card card-container card-content">
                    <h3 class="mt-3">Sickle</h3>
                    <p class="text-muted">Harvest sickle with wooden handle used for agriculture and gardening activities.</p>
                    <p class="font-weight-bold">R179.99</p>
                    <button class="btn btn-light">Add to Cart</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-container card-content">
                    <h3 class="mt-3">ECOFLOW 100W Portable Solar Panel</h3>
                    <p class="text-muted">
                        Robust waterproof design and strong aluminium frame for all weather conditions
                        A Versatile panel that has all the features to suit your environmentally friendly footprint for the future.
                    </p>
                    <p class="font-weight-bold">R2,800.00</p>
                    <button class="btn btn-light">Add to Cart</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card card-container card-content">
                    <h3 class="mt-3">Grow Green Compost</h3>
                    <p class="text-muted">
                        It is high in plant nutrients than compost made purely from vegetable matter.
                        Compost should be applied to the open soil either as a top dressing or mixed into the top layer of soil.
                    </p>
                    <p class="font-weight-bold">R14.99</p>
                    <button class="btn btn-light">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</body>
